{% extends 'bt/basic.html' %}
{% block title %}login {% endblock %}
{% load static %}
{% block body %}
{% if messages %}
{% for msg in messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{ msg }}</strong>or Click<a href="/bt/register" class="alert-link"> Here </a>to Register.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
    <div class="container-fluid py-3">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Log in</h1>
            <form action="/bt/login/" method="post">{% csrf_token %}
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="User Name" required>
              </div>
              <div class="form-group mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="enter your passsword" required>
              </div>
              <input type="submit" name="login"  id="login" value="Login" class="btn btn-secondary btn-block">
            </form>
            <p class="login-wrapper-footer-text">Don't have an account? <a href="/bt/register" class="text-reset">Register here</a></p>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="{% static 'assets/img/homes/home-3.jpg' %}" alt="login image" class="login-img">
        </div>
      </div>
    </div>


{% endblock %}
